.header-links li {
    list-style-type: none;
    border: 0;
    padding-left: 0;
}

.header {
    display: flex;
    font-family: 'Roboto', sans-serif;
    align-items: center;

}

.header-links {
    margin-left: auto;
    padding-right: 50px;
    font-size: 18px;
    color: #E5E7EB;
}

.hero {
    background-color: #1F2937;
    border: none;
    
}

.header-logo {
    color: #f9faf8;
    font-size: 24px;
    font: roboto;
    padding-left: 18px;
}

.header-links ul {
    display: flex;
    gap: 18px;
}
body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    max-width: 100%;
    margin: 0 auto;
}

.maintext strong {
    font-family: "Roboto", sans-serif;
    font-size: 48px;
    color: #F9FAF8;
    font-weight:900;
    flex-basis: 400px;
}

.subtext {
    color: #E5E7EB;
    margin-top: 0px;
    border: 0px
}

.maintext {
    display: flex;
    flex-direction: column;
    margin: 0px;
    padding-right: 25px;
    flex-basis: 400px;
}

.sign-up-button {
    background-color: #3882f6;
    border: none;
    color: white;
    text-align: center;
    align-self: start;
    font-size: 16px;
    margin: 4px 2px;
    border-radius: 16px;
}

p {
    font-family: "Roboto", sans-serif
}

.overview {
    display: flex;
    align-items: center;
    margin-right: 50px;
    justify-content: center;
    padding-bottom: 80px;
}

.placeholder {
    color: white;
    font: 12px;
    background-color: grey;
    padding: 60px;
    display:flex;
    align-items: center;
    justify-content: center;
    height: 245.5px;
    box-sizing: border-box;
    width: 425px;
}

.middle {
    padding-bottom: 80px;
}

.middle h2{
    font-family: "roboto";
    font-size: 36px;
    color: #1F2937;
    text-align: center;

}

.box-set {
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    gap: 60px;
}

.box {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 201px;
    text-align: center;
}

.box img {
    border: 8px solid #3882F6;
    border-radius: 20px;
    height: 200px;
    width: 200px;
}

.box div {
    font-family: "Roboto";
    font-size: 19px;
    font-weight:300
}

.quote {
    display: flex;
    flex-direction: column;
    font-family: "Roboto", sans-serif;
}

.quote div {
    font-size: 36px;
    color: #1F2937;
    margin-bottom: 0px;
}

.quote h6 {
    font-size: 24px;
    display: flex;
    margin-top: 0px;
    justify-content: end;
}
.grey {
    background-color: #E5E7EB;
    padding: 150px;
    align-items: center;
    justify-content:center;
}

.words {
    display: flex;
    font-family: "roboto";
    flex-direction: column;
    margin: 20px;
}

.sign-up {
    border: 1px solid white;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 30px;
    border-radius: 10px;
    padding-left: 20px;
    padding-right: 20px;
}

.ad {
    background-color: #3882f6;
    display: flex;
    margin: 30px;
    border-radius: 10px;
    
}

.advert {
    display: flex;
    color: #F9FAF8;
    font-family: "roboto";
    justify-content: center;
    align-items: center;
}

.words div {
    font-size: 16px;
    margin-top: 1px;
}

.words h3 {
    margin-bottom: 0px;
}

.footer {
    background-color: #1F2937;
    text-align: center;
    color: #E5E7EB;
    font-family: "Roboto";
}

.footer div {
    margin: 17px 0 17px 0
}
