.header-links li {
    list-style-type: none;
    border: 0;
    padding-left: 0;
}

.header {
    display: flex;
    font-family: 'Roboto', sans-serif;
    align-items: center;

}

.header-links {
    margin-left: auto;
    padding-right: 50px;
    font-size: 18px;
    color: #E5E7EB;
}

.hero {
    background-color: #1F2937;
    border: none;
    
}

.header-logo {
    color: #f9faf8;
    font-size: 24px;
    font: roboto;
    padding-left: 18px;
}

.header-links ul {
    display: flex;
    gap: 18px;
}
body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    max-width: 100%;
    margin: 0 auto;
}

.maintext strong {
    font-family: "Roboto", sans-serif;
    font-size: 48px;
    color: #F9FAF8;
    font-weight:900;
}

.subtext {
    color: #E5E7EB;
    margin-top: 0px;
    border: 0px
}

.maintext {
    display: flex;
    flex-direction: column;
    margin: 0px;
    padding-right: 25px;
}

.sign-up-button {
    background-color: #3882f6;
    border: none;
    color: white;
    text-align: center;
    align-self: start;
    font-size: 16px;
    margin: 4px 2px;
    border-radius: 16px;
}

p {
    font-family: "Roboto", sans-serif
}

.overview {
    display: flex;
    align-items: center;
    margin-right: 50px;
    justify-content: center;
}

.placeholder {
    color: white;
    font: 12px;
    background-color: grey;
    padding: 60px;
    display:flex;
    flex: 1;
    align-items: center;
    justify-content: center;

}
